<!doctype html>
<html lang="zh-CN">

<head>
  {include file="head" /}
  <title>{$Think.config.web.aesencrypt.title}</title>
  <meta name="keywords" content="{$Think.config.web.aesencrypt.keywords}" />
  <meta name="description" content="{$Think.config.web.aesencrypt.description}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col10main">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            {include file="tools_tabs_encrypt" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea onmouseover="this.focus()" id="content" name="content" class="form-control" rows="12"
                      placeholder="请输入要加密或者解密的内容"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <input type="hidden" value="aes" name="encrypt_type" /><input type="text"
                      class="form-control form-di input-encrypt-txt" id="pwd" title="密钥,可不填"
                      placeholder="密钥,可不填" /><input type="button" id="conv" onclick="encrypt()" value="加密"
                      class="btn btn-success" /><input type="button" id="res" onclick="decrypt()" value="解密"
                      class="btn btn-success" /><span id="copyallcode" class="btn btn-default"
                      data-clipboard-target="#result">复制</span><input type="button" onclick="resetAll()" value="清空"
                      class="btn btn-default" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <pre><code id="result"></code></pre>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>AES加密解密工具</h4>
            <p>
              AES加解密工具为您提供AES加解密工具,AES可逆加密算法在线测试,aes算法,可自定义AES加密解密秘钥,实现AES在线加密,AES在线解密,AES可逆加密解密的在线工具。
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
  <script type="text/javascript">
    setJS([
      "/static/script/pcjs/crypto-js.js",
      "/static/script/pcjs/aes.js",
      "/static/script/pcjs/rabbit.js",
      "/static/script/pcjs/rc4.js",
      "/static/script/pcjs/tripledes.js",
      "/static/script/pcjs/deencrypt.js",
    ]);
  </script>
  <script src="/static/script/hightout.js"></script>
  {include file="nav" /} {include file="footer" /}
</body>

</html>
