<!doctype html>
<html lang="zh-CN">

<head>
  {include file="head" /}
  <title>{$Think.config.web.chaicp.title}</title>
  <meta name="keywords" content="{$Think.config.web.chaicp.keywords}" />
  <meta name="description" content="{$Think.config.web.chaicp.description}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            {include file="tools_tabs_webmaster" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="input-group mb5" style="width: 85%">
                  <input class="form-control" type="text" name="icp" id="icp" value="{$url}"
                    placeholder="请输入您要查询的域名，如：{$_SERVER.HTTP_HOST}" /><span class="input-group-btn"><button
                      class="btn btn-success" type="submit" id="get_remote">
                      查询ICP备案
                    </button></span>
                </div>
                {if $icp}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      ICP备案查询结果，域名
                      <span class="greentag">{$url}</span> ICP备案信息
                    </h3>
                  </div>
                  <table class="table table-bordered table-striped">
                    {if $code!='200'}
                    <tr>
                      <td>
                        <font color="red">{$icp.msg}</font>
                      </td>
                    </tr>
                    {else/} {foreach $icp as $name=>$value}
                    <tr>
                      <td>
                        <span class="lx_name">{$name}</span><span class="lx_value">{$value}</span>
                      </td>
                    </tr>
                    {/foreach} {/if}
                  </table>
                </div>
                {/if}
                <div class="form-group" style="margin-top: 50px">
                  <div class="col-sm-12">
                    <p>最近查询：</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>ICP备案查询</h4>
            <p>
              网站ICP备案查询，批量查询网站备案。查看网站是否已经备案及备案情况
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
  {include file="nav" /} {include file="footer" /}
</body>

</html>
