<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{$Think.config.web.checkkeyword.title}</title>
  <meta name="applicable-device" content="pc,mobile" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="keywords" content="{$Think.config.web.checkkeyword.keywords}" />
  <meta name="description" content="{$Think.config.web.checkkeyword.description}" />
  <meta name="renderer" content="webkit" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" />
  <link href="/static/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/style/tool.css" rel="stylesheet" type="text/css" />
  <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {:$Think.config.web.header}
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <ul class="nav nav-tabs hbflag">
              <li role="presentation">
                <a href="/checkweixin/">微信域名检测工具</a>
              </li>
              <li role="presentation">
                <a href="/htaccess2nginx/">htaccess转nginx</a>
              </li>
              <li role="presentation">
                <a href="/shortcut/">生成桌面快捷方式</a>
              </li>
              <li role="presentation">
                <a href="/px2rem/">rem与px转换工具</a>
              </li>
              <li role="presentation">
                <a href="/favicon/">在线制作ico图标</a>
              </li>
              <li role="presentation">
                <a href="/createmeta/">生成网页Meta标签</a>
              </li>
              <li role="presentation" class="active">
                <a href="/checkkeyword/">网页关键词密度检测</a>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true"
                  aria-expanded="false">更多工具<span class="caret"> </span></a>
                <ul class="dropdown-menu">
                  <li role="presentation">
                    <a href="/refresh/">在线定时刷新网址</a>
                  </li>
                  <li role="presentation">
                    <a href="/tiaoseban/">在线调色板</a>
                  </li>
                  <li role="presentation">
                    <a href="/gzip/">网站Gzip压缩检测</a>
                  </li>
                  <li role="presentation">
                    <a href="/checkurl/">网站死链检测</a>
                  </li>
                  <li role="presentation">
                    <a href="/whois/"> Whois查询工具</a>
                  </li>
                  <li role="presentation">
                    <a href="/chaicp/">ICP网站备案查询</a>
                  </li>
                  <li role="presentation">
                    <a href="/chameta/">Meta标签优化分析</a>
                  </li>
                  <li role="presentation">
                    <a href="/webstatus/">HTTP状态码查询</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="panel">
              <form id="form1help" class="form-horizontal" method="post">
                <div class="form-group">
                  <div class="col-sm-6">
                    <input class="form-control" id="txt_url" name="txt_url" type="text" value="{$url}"
                      placeholder="输入要检测的网址，如：http://{$_SERVER.HTTP_HOST}" />
                  </div>

                  <div class="col-sm-3">
                    <input class="form-control" id="txt_url" name="txt_keyword" type="text" value="{$keyword}"
                      placeholder="输入关键词" />
                  </div>

                  <div class="col-sm-3">
                    <button type="submit" id="chameta" class="btn btn-success"
                      onclick="$('#chameta').text('正在检测，请稍候……')">
                      查询关键词密度
                    </button>
                  </div>
                </div>
              </form>
              <div id="metachecktb">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="titcolor" colspan="2">
                        网址 {$url} 检测结果
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width="25%">页面文本总长度</td>

                      <td>
                        <font color="red">{$html_strlen|default='-'}</font>
                        个字符
                      </td>
                    </tr>
                    <tr>
                      <td>关键字符串长度</td>

                      <td>
                        <font color="red">{$html_gjccd|default='-'}</font>
                        个字符
                      </td>
                    </tr>
                    <tr>
                      <td>关键字出现频率</td>

                      <td>
                        <font color="red">{$html_gjcsl|default='0'}</font> 次
                      </td>
                    </tr>
                    <tr>
                      <td>关键字符总长度</td>

                      <td>
                        <font color="red">{$html_gjczcd|default='0'}</font>
                        个字符
                      </td>
                    </tr>
                    <tr>
                      <td>密度结果计算</td>

                      <td>
                        <font color="red">{$html_mdjgjs|default='-'}</font> %
                      </td>
                    </tr>
                    <tr>
                      <td>密度建议值</td>

                      <td>
                        <font color="red">2%≦密度≦8%</font>
                      </td>
                    </tr>

                    <tr>
                      <td>密度检测结果建议</td>

                      <td>
                        {if isset($html_mdjgjs)} {if $html_mdjgjs>8}
                        <font color="red">关键词密度&gt;2%，密度偏高</font>
                        {elseif $html_mdjgjs<2} <font color="red">关键词密度&lt;2%，密度偏小</font>
                          {else}
                          <img src="/static/images/ok.png" />
                          <font color="green">关键词密度在合理范围内</font>
                          {/if} {else} - {/if}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>网页关键词密度检测工具</h4>
            <p>
              为您提供在线关键词密度检测查询,检测关键词的密度百分比，可以快速检测页面关键词出现的数量和密度，更适合蜘蛛的搜索。
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/script/tool.js" type="text/javascript"></script>
  {include file="nav" /} {include file="footer" /}
</body>

</html>