<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {include file="head" /}
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{$Think.config.web.dnsedu.title}</title>
    <meta name="applicable-device" content="pc,mobile" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="{$Think.config.web.dnsedu.keywords}" />
    <meta name="description" content="{$Think.config.web.dnsedu.description}" />
    <meta name="renderer" content="webkit" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" />
    <link href="/static/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/tool.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]><script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script><script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->{:$Think.config.web.header}</head>

<body>
    {include file="header" /}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col10main">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <!-- <div><a href="https://www.aliyun.com/minisite/goods?userCode=eaborev5" target="_blank" rel="nofollow"><img src="http://zxgj.16400.cn/static/images/ali.jpg"></a></div> -->
                        <ul class="nav nav-tabs hbflag">
                            <li role="presentation"><a href="/dns/">公共DNS</a></li>
                            <li role="presentation"><a href="/alldns/">各地区公共DNS</a></li>
                            <li role="presentation"><a href="/dnsdx/">各地电信DNS</a></li>
                            <li role="presentation"><a href="/dnslt/">各地联通DNS</a></li>
                            <li role="presentation"><a href="/dnsyd/">各地移动DNS</a></li>
                            <li role="presentation"><a href="/dnstt/">各地铁通DNS</a></li>
                            <li role="presentation" class="active"><a href="/dnsedu/">教育网DNS</a></li>
                            <li role="presentation"><a href="/dnsusa/">美国DNS</a></li>
                        </ul>
                        <div class="alert alert-success alert-dismissible" role="alert">
                            教育网公共DNS解析,教育网免费DNS地址,最快的教育网公共DNS解析IP库</div>
                        <div class="panel panel-success">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>202.38.64.1</td>
                                            <td>202.38.64.1</td>
                                            <td>安徽省合肥市中国科学技术大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.103.243.112</td>
                                            <td>202.103.243.112</td>
                                            <td>广西桂林市桂林电子科技大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.112.112.10</td>
                                            <td>202.112.112.10</td>
                                            <td>北京市中国人民大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.112.144.30</td>
                                            <td>202.112.144.30</td>
                                            <td>北京交通大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.113.16.10</td>
                                            <td>202.113.16.10</td>
                                            <td>南开大学网络中心首选DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.113.16.11</td>
                                            <td>202.113.16.11</td>
                                            <td>南开大学学生邮件系统、网络中心备用DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.114.0.242</td>
                                            <td>202.114.0.242</td>
                                            <td>湖北省武汉市华中科技大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.114.240.6</td>
                                            <td>202.114.240.6</td>
                                            <td>湖北省武汉市武汉科技大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.115.32.39</td>
                                            <td>202.115.32.39</td>
                                            <td>四川省成都市四川联合大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.175.3.3</td>
                                            <td>202.175.3.3</td>
                                            <td>澳门澳门大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.175.3.8</td>
                                            <td>202.175.3.8</td>
                                            <td>澳门澳门大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.193.64.33</td>
                                            <td>202.193.64.33</td>
                                            <td>广西桂林市桂林电子科技大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.196.64.1</td>
                                            <td>202.196.64.1</td>
                                            <td>河南省郑州市郑州大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.203.144.33</td>
                                            <td>202.203.144.34</td>
                                            <td>云南省昆明市云南民族大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.203.160.33</td>
                                            <td>202.203.160.34</td>
                                            <td>云南省昆明市昆明理工大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.203.192.33</td>
                                            <td>202.203.192.33</td>
                                            <td>云南省昆明市云南财经大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.203.208.33</td>
                                            <td>202.203.208.34</td>
                                            <td>云南省昆明市云南大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>202.203.224.33</td>
                                            <td>202.203.224.34</td>
                                            <td>云南省昆明市云南师范大学DNS服务器</td>
                                        </tr>
                                        <tr>
                                            <td>210.38.192.33</td>
                                            <td>210.38.192.33</td>
                                            <td>广东省韶关市韶关学院DNS服务器</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group"> </div>
        </div>
    </div>
    </div>
    <script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/script/tool.js" type="text/javascript"></script>{include file="nav" /}
    {include file="link" /}
    {include file="footer" /}
</body>

</html>