<!doctype html>
<html lang="zh-CN">

<head>
  {include file="head" /}
  <title>{$Think.config.web.shaencrypt.title}</title>
  <meta name="keywords" content="{$Think.config.web.shaencrypt.keywords}" />
  <meta name="description" content="{$Think.config.web.shaencrypt.description}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col10main">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <!-- <div><a href="https://www.aliyun.com/minisite/goods?userCode=eaborev5" target="_blank" rel="nofollow"><img src="http://zxgj.16400.cn/static/images/ali.jpg"></a></div> -->
            {include file="tools_tabs_encrypt" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea onmouseover="this.focus()" id="content" name="content" class="form-control" rows="12"
                      placeholder="请输入要加密的内容"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-success" onclick="sha_encrypt('sha1')">
                      SHA1加密</button><button type="button" class="btn btn-success" onclick="sha_encrypt('sha256')">
                      SHA256加密</button><button type="button" class="btn btn-success" onclick="sha_encrypt('sha512')">
                      SHA512加密</button><span id="copyallcode" class="btn btn-default"
                      data-clipboard-target="#result">复制</span><input type="button" onclick="resetAll()" value="清空"
                      class="btn btn-default" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <pre><code id="result"></code></pre>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>SHA加密工具</h4>
            <p>
              SHA加工具为您提供不可逆SHA加密工具,SHA加密是不可逆加密,比MD5加密算法更为严格可靠，此加密算法被广泛应用于移动端接口数据签名加密,同时本工具实现了SHA1加密,SHA256加密,SHA512加密3种不同加密类型的加密算法,希望对您有帮助。
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
  <script type="text/javascript">
    setJS([
      "/static/script/pcjs/sha1.js",
      "/static/script/pcjs/sha256.js",
      "/static/script/pcjs/sha512.js",
      "/static/script/pcjs/deencrypt.js",
    ]);
  </script>
  <script src="/static/script/hightout.js"></script>
    {include file="nav" /}
  {include file="link" /}
  {include file="footer" /}
</body>

</html>
