<!doctype html>
<html lang="{:html_lang()}">

<head>
  {include file="head" /}
  <title>{:lang('seo.allencrypt.title')}</title>
  <meta name="keywords" content="{:lang('seo.allencrypt.keywords')}" />
  <meta name="description" content="{:lang('seo.allencrypt.description')}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col10main">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            {include file="tools_tabs_encrypt" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea onmouseover="this.focus()" id="content" name="content" class="form-control" rows="8"
                      placeholder="请把你需要加密转换的内容粘贴在这里"></textarea>
                  </div>
                </div>
                <div class="form-group" id="p_div" style="display: none">
                  <div class="col-sm-12">
                    <input class="form-control" type="text" id="pwd" placeholder="请输入加密秘钥" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button type="button" class="btn btn-success" onclick="hashjsonscn('SHA1')">
                      SHA1</button><button type="button" class="btn btn-success" onclick="hashjsonscn('SHA224')">
                      SHA224</button><button type="button" class="btn btn-success" onclick="hashjsonscn('SHA256')">
                      SHA256</button><button type="button" class="btn btn-success" onclick="hashjsonscn('SHA384')">
                      SHA384</button><button type="button" class="btn btn-success" onclick="hashjsonscn('SHA512')">
                      SHA512</button><button type="button" class="btn btn-success" onclick="hashjsonscn('MD5')">
                      MD5</button><button type="button" class="btn btn-info" onclick="hashjsonscn('HmacMD5')">
                      HmacMD5
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button type="button" class="btn btn-info" onclick="hashjsonscn('HmacSHA1')">
                      HmacSHA1</button><button type="button" class="btn btn-info" onclick="hashjsonscn('HmacSHA224')">
                      HmacSHA224</button><button type="button" class="btn btn-info" onclick="hashjsonscn('HmacSHA256')">
                      HmacSHA256</button><button type="button" class="btn btn-info" onclick="hashjsonscn('HmacSHA384')">
                      HmacSHA384</button><button type="button" class="btn btn-info" onclick="hashjsonscn('HmacSHA512')">
                      HmacSHA512</button><span id="copyallcode" class="btn btn-default"
                      data-clipboard-target="#result">复制结果</span><input type="button" onclick="ClearAll()" value="清空"
                      class="btn btn-default" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <pre><code id="result"></code></pre>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>散列哈希HASH加密工具</h4>
            <p>
              散列哈希HASH加密工具为您提供MD5、HmacMD5在线加密,SHA加密算法:SHA1加密，SHA224加密，SHA256加密，SHA384加密，SHA512加密,HmacSHA1加密，HmacSHA224加密，HmacSHA256加密，HmacSHA384加密，HmacSHA512加密等在线加密工具,希望对您有帮助。
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
  <script src="/static/script/hightout.js"></script>
  <script type="text/javascript">
    setJS([
      "/static/script/encrypt/pcjson-aes.js",
      "/static/script/encrypt/pcjson-base64-min.js",
      "/static/script/encrypt/pcjson-md5.js",
      "/static/script/encrypt/pcjson-ripemd160.js",
      "/static/script/encrypt/pcjson-sha1.js",
      "/static/script/encrypt/pcjson-sha224.js",
      "/static/script/encrypt/pcjson-sha256.js",
      "/static/script/encrypt/pcjson-sha3.js",
      "/static/script/encrypt/pcjson-sha384.js",
      "/static/script/encrypt/pcjson-sha512.js",
      "/static/script/encrypt/md5.js",
      "/static/script/encrypt/pbkdf2.js",
      "/static/script/encrypt/rabbit-legacy.js",
      "/static/script/encrypt/rabbit.js",
      "/static/script/encrypt/rc4.js",
      "/static/script/encrypt/ripemd160.js",
      "/static/script/encrypt/sha1.js",
      "/static/script/encrypt/sha224.js",
      "/static/script/encrypt/sha256.js",
      "/static/script/encrypt/sha3.js",
      "/static/script/encrypt/sha384.js",
      "/static/script/encrypt/sha512.js",
      "/static/script/encrypt/tripledes.js",
      "/static/script/encrypt/allencrypt.js",
    ]);
  </script>
  {include file="nav" /} {include file="footer" /}
</body>

</html>
