<!doctype html>
<html lang="{:html_lang()}">

<head>
  {include file="head" /}
  <title>{:lang('seo.gzip.title')}</title>
  <meta name="keywords" content="{:lang('seo.gzip.keywords')}" />
  <meta name="description" content="{:lang('seo.gzip.description')}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col10main">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            {include file="tools_tabs_webmaster" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="input-group mb5">
                  <input class="form-control" type="text" name="q" id="url" value="{$q}" placeholder="输入网址" />
                  <span class="input-group-btn"><button class="btn btn-success" type="submit" id="get_remote">
                      检测
                    </button></span>
                </div>
                {if $q && $gzip}
                <div class="form-group">
                  <div class="col-sm-8">
                    <table class="table table-hover table-bordered table-striped">
                      <caption>
                        <strong>Header信息</strong>
                      </caption>
                      {foreach $gzip.head as $key=>$vo}
                      <tr>
                        <td style="width: 140px">{$key}</td>
                        <td>{$vo}</td>
                      </tr>
                      {/foreach}
                    </table>
                  </div>
                  <div class="col-sm-4">
                    <table class="table table-hover table-bordered table-striped">
                      <caption>
                        <strong>网址 {$url} 检测结果</strong>
                      </caption>
                      <tr>
                        <td style="width: 140px">是否压缩</td>
                        <td class="text-center">
                          <strong>{if $gzip.jc.ystype=='gzip'}<font color="green">是</font>{else/}<font color="red">否
                            </font>{/if}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 140px">压缩类型</td>
                        <td class="text-center">{$gzip.jc.ystype}</td>
                      </tr>
                      <tr>
                        <td style="width: 140px">原始文件大小</td>
                        <td class="text-center">{$gzip.jc.ysize}</td>
                      </tr>
                      <tr>
                        <td style="width: 140px">压缩后文件大小</td>
                        <td class="text-center">{$gzip.jc.yssize}</td>
                      </tr>
                      <tr>
                        <td style="width: 140px">压缩率（估计值）</td>
                        <td class="text-center">{$gzip.jc.ysl} %</td>
                      </tr>
                    </table>
                  </div>
                </div>
                {elseif $q}
                <div class="form-group">
                  <div class="col-sm-12 text-left">
                    <h3>
                      <strong style="color: #c00">查询异常（请检查网站能否正常访问）</strong>
                    </h3>
                  </div>
                </div>
                {/if}
                <div class="form-group" style="margin-top: 50px">
                  <div class="col-sm-12">
                    <p>最近查询：</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
