<!doctype html>
<html lang="{:html_lang()}">

<head>
  {include file="head" /}
  <title>{:lang('seo.html2cj.title')}</title>
  <meta name="keywords" content="{:lang('seo.html2cj.keywords')}" />
  <meta name="description" content="{:lang('seo.html2cj.description')}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col10main">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <!-- <div><a href="https://www.aliyun.com/minisite/goods?userCode=eaborev5" target="_blank" rel="nofollow"><img src="http://zxgj.16400.cn/static/images/ali.jpg"></a></div> -->
            {include file="tools_tabs_format" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea class="form-control" id="content" name="content" rows="12"
                      placeholder="请输入要转换的HTML代码"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <input type="button" onclick="tocsharp()" value="Html转为C#代码" class="btn btn-success" /><input
                      type="button" onclick="tojsp()" value="Html转为JSP代码" class="btn btn-success" /><span
                      id="copyallcode" class="btn btn-default" data-clipboard-target="#result">复制</span><input
                      class="btn btn-default" onclick="Empty()" type="button" value="清空" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <pre><code id="result"></code></pre>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>Html转C#/JSP代码工具</h4>
            <p>
              Html转C#/JSP代码工具为您提供在线Html转换为Jsp和C#代码,Jsp代码,Html转C#,Html转.Net,Html转Jsp,在线Html转Jsp代码,HTML与JSP和C#,.Net代码在线转换,使用这个Html在线转换工具,能得到拼接好代码等
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
  <script src="/static/script/pcjs/html2js.js" type="text/javascript"></script>
  <script src="/static/script/hightout.js"></script>
    {include file="nav" /}
  {include file="link" /}
  {include file="footer" /}
</body>

</html>
