<!doctype html>
<html lang="zh-CN">

<head>
  {include file="head" /}
  <title>{$Think.config.web.index.title}</title>
  <link rel="canonical" href="{$Think.config.web.index.canonical}" />
  <meta name="keywords" content="{$Think.config.web.index.keywords}" />
  <meta name="description" content="{$Think.config.web.index.description}" />
  <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {:$Think.config.web.header}</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-nav">
        {include file="tools_all" /}
      </div>
    </div>
  </div>
  {include file="script" /}
  {include file="link" /} {include file="footer" /}
</body>

</html>
