<!doctype html>
<html lang="{:html_lang()}">

<head>
  {include file="head" /}
  <title>{:lang('seo.lishishangdejintian.title')}</title>
  <meta name="keywords" content="{:lang('seo.lishishangdejintian.keywords')}" />
  <meta name="description" content="{:lang('seo.lishishangdejintian.description')}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="panel">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    历史上的今天
                    <span class="greentag">{:date('Y年m月d日')}</span>
                  </h3>
                </div>
                <table class="table table-bordered table-striped">
                  {foreach $list as $key=>$vo}
                  <tr>
                    <td>
                      <span class="lx_name">{$vo.date}</span><span class="lx_value">{$vo.title}</span>
                    </td>
                  </tr>
                  {/foreach}
                </table>
              </div>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>历史今天</h4>
            <p>今天发生在历史的那些事！</p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
  {include file="nav" /} {include file="footer" /}
</body>

</html>