<!doctype html>
<html lang="{:html_lang()}">

<head>
  {include file="head" /}
  <title>{:lang('seo.textdiff.title')}</title>
  <meta name="keywords" content="{:lang('seo.textdiff.keywords')}" />
  <meta name="description" content="{:lang('seo.textdiff.description')}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col10main">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <!-- <div><a href="https://www.aliyun.com/minisite/goods?userCode=eaborev5" target="_blank" rel="nofollow"><img src="http://zxgj.16400.cn/static/images/ali.jpg"></a></div> -->
            {include file="tools_tabs_text" /}
            <div class="panel panel-body">
              <form id="form1" class="form-horizontal" method="post">
                <div class="form-group">
                  <div class="col-sm-6">
                    <span class="label label-default">基础文本：</span>
                    <p></p>
                    <textarea onmouseover="this.focus()" id="baseText" name="baseText" class="form-control" rows="10"
                      placeholder="请输入基础文本"></textarea>
                  </div>
                  <div class="col-sm-6">
                    <span class="label label-default">对比文本：</span>
                    <p></p>
                    <textarea onmouseover="this.focus()" id="newText" name="newText" class="form-control" rows="10"
                      placeholder="请输入要对比文本"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <input type="button" onclick="textDiff()" value="立即对比" class="btn btn-success" /><input
                      type="button" onclick="Empty()" value="清空" class="btn btn-default" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12" id="diffoutput"></div>
                </div>
              </form>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>在线文本比较工具</h4>
            <p>
              本工具可以方便大家快速对比两个文本文件中的不同之处，可以自动对两段文本比较，标注不同之处，结果清晰明了，可快速替换差异内容等。
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  <link href="/static/style/textdiff.css" rel="stylesheet" type="text/css" />
  {include file="script" /}
  <script>
    setJS([
      "/static/script/pcjs/txtdiffview.js",
      "/static/script/pcjs/txtdifflib.js",
      "/static/script/pcjs/textdiff.js",
    ]);
  </script>
    {include file="nav" /}
  {include file="link" /}
  {include file="footer" /}
</body>

</html>
