<!doctype html>
<html lang="{:html_lang()}">

<head>
  {include file="head" /}
  <title>{:lang('seo.webstatus.title')}</title>
  <meta name="keywords" content="{:lang('seo.webstatus.keywords')}" />
  <meta name="description" content="{:lang('seo.webstatus.description')}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            {include file="tools_tabs_webmaster" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="input-group mb5" style="width: 85%">
                  <input class="form-control" type="text" name="url" id="url" value="{$url}"
                    placeholder="输入网址，如:http://{$_SERVER.HTTP_HOST}" /><span class="input-group-btn"><button
                      class="btn btn-success" type="submit" id="get_remote">
                      查询HTTP状态
                    </button></span>
                </div>
                {if $ip}
                <div class="form-group">
                  <div class="col-sm-12">
                    <table class="table table-hover table-bordered table-striped">
                      <caption>
                        <strong>页面
                          <font color="#0099ff">{$url}</font> 检测结果
                        </strong>
                      </caption>
                      <tbody>
                        <tr>
                          <td style="width: 150px">服务器IP</td>
                          <td>
                            <a href="/ip/{$ip}.html" target="_blank">{$ip}</a>
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 150px">返回状态码</td>
                          <td>{$code}</td>
                        </tr>
                        <tr>
                          <td style="width: 150px">网页返回HEAD信息</td>
                          <td>{:$head}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
                {elseif $url}
                <div class="form-group">
                  <div class="col-sm-12 text-left">
                    <h3>
                      <strong style="color: #c00">网页状态检测失败,可能是域名未解析或网站无法访问</strong>
                    </h3>
                  </div>
                </div>
                {/if}
              </form>
            </div>
          </div>
          <div class="alert alert alert-success alert-dismissible">
            <h4>HTTP状态查询工具</h4>
            <p>常见的HTTP状态码</p>
            <p>
              200 - 服务器成功返回网页 404 - 请求的网页不存在 503 - 服务不可用
            </p>
            <p>301 redirect: 301 代表永久性转移(Permanently Moved)</p>
            <p>302 redirect: 302 代表暂时性转移(Temporarily Moved )。</p>
            <p>
              <a href="/pagecode/" target="_blank">查看所有HTTP状态码解释</a>
            </p>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
    {include file="nav" /}
  {include file="link" /}
  {include file="footer" /}
</body>

</html>
