<!doctype html>
<html lang="{:html_lang()}">

<head>
  {include file="head" /}
  <title>{:lang('seo.zipstringtext.title')}</title>
  <meta name="keywords" content="{:lang('seo.zipstringtext.keywords')}" />
  <meta name="description" content="{:lang('seo.zipstringtext.description')}" />
</head>

<body>
  {include file="header" /}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <!-- <div><a href="https://www.aliyun.com/minisite/goods?userCode=eaborev5" target="_blank" rel="nofollow"><img src="http://zxgj.16400.cn/static/images/ali.jpg"></a></div> -->
            {include file="tools_tabs_text" /}
            <div class="panel">
              <form id="form1" class="form-horizontal" method="post">
                <div class="form-group">
                  <div class="col-sm-12">
                    <textarea onmouseover="this.focus()" id="content" name="content" class="form-control" rows="10"
                      placeholder="请输入要压缩的内容或字符串"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button type="button" id="encode" class="btn btn-success" onclick="StrReplace()">
                      压缩文本/字符串</button><span id="copyallcode" class="btn btn-default"
                      data-clipboard-target="#result">复制结果</span><input type="button" onclick="ClearAll()" value="清空"
                      class="btn btn-default" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <pre><code id="result"></code></pre>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="accordion-group">
            <div class="in collapse bs-docs-demoexample">
              <h4>在线字符串文本压缩工具</h4>
              <p>
                在线字符串文本压缩工具提供内容去空格,去换行,删除空白行,删除回车,去除制表符等。
              </p>
            </div>
          </div>
          <div class="accordion-group"></div>
        </div>
      </div>
    </div>
  </div>
  {include file="script" /}
  <script src="/static/script/hightout.js"></script>
  <script>
    function StrReplace() {
      var StrInput = $("#content").val();
      StrInput = formatStr(StrInput);
      StrInput = replaceSpace(StrInput);
      hightout(StrInput);
    }
    function formatStr(strInput) {
      strInput = strInput.replace(/\r/gi, "");
      strInput = strInput.replace(/\n/gi, "");
      strInput = strInput.replace(/\s/gi, "");
      return strInput;
    }
    function replaceSpace(strInput) {
      return strInput.replace(/[ ]/g, "");
    }
  </script>
  {include file="nav" /}
  {include file="link" /}
  {include file="footer" /}
</body>

</html>
