<div class="navbar navbar-default navbar-static-top navbar-fixed-top">
  <div class="jz container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{:lang('site.name')}</span>
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="{:lang('site.name')}">
        <em class="logo_ico glyphicon glyphicon-wrench"></em>{:lang('site.name')}
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav" id="top_menu">
        {foreach $Think.config.web.tools as $groupKey=>$group}
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{:lang('tools.' . $groupKey . '.label')}<span class="caret"></span></a>
          <ul class="dropdown-menu ul-list">
            {foreach $group.items as $tool}
            <li>
              <a href="/{$tool.path}/"{if isset($tool.style)} style="{$tool.style}"{/if}>{:lang('tool.' . $tool['path'])}</a>
            </li>
            {/foreach}
          </ul>
        </li>
        {/foreach}
      </ul>
      <ul class="nav navbar-nav navbar-right language-switcher">
        <li class="dropdown">
          <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{:current_lang_label()}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="?lang=zh-cn">{:lang('language.zh-cn')}</a></li>
            <li><a href="?lang=en-us">{:lang('language.en-us')}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
